Label {
    -fx-font-family: Roboto;
    src:"/resources/roboto/Roboto-Regular.ttf";
     -fx-text-fill: #283593;
     -fx-font-size: 15;
}

TableView {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}
 
JFXButton {
    -fx-text-fill:#ffffff;
    -fx-background-color:#283593;
}

JFXDatePicker JFXButton {
	-fx-background-color:transparent;
	-fx-text-fill:#000000;
}

JFXDatePicker {
	-fx-default-color: #8e97d4;
}

VBOX {
    -fx-background-color:#c5cae9;
}

HBOX {
    -fx-background-color:#c5cae9;
}

TextField, JFXTextField, NumberTextField {
	-fx-text-fill:#283593;
	-fx-font-family: Roboto;
    src:"/resources/roboto/Roboto-Regular.ttf";
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #bfc5ea;
    -fx-focus-color: #283593;
    -fx-unfocus-color: #3949ab; 
    -fx-font-size: 15;
}

JFXComboBox {
	-fx-font-size: 15;
	-fx-text-fill: #283593;
}

.jfx-tab-pane {
    -fx-background-color:#c5cae9;
}
.tab-header-background {
    -fx-background-color:#283593;
}
.tab-selected-line {
    -fx-background-color: #00ff00;
}
.tab-label {
	-fx-text-fill: #ffffff;
}

.dialog-accept {
	-fx-background-color: #009688;
	-fx-font-weight: BOLD; 	
	-fx-padding: 0.7em 0.8em;
	-fx-text-fill: #ffffff;
}

.dialog-error {
	-fx-background-color: #F44336;
	-fx-font-weight: BOLD; 	
	-fx-padding: 0.7em 0.8em;
	-fx-text-fill: #ffffff;
}

.dialog-info {
	-fx-background-color: #2196F3;
	-fx-font-weight: BOLD; 	
	-fx-padding: 0.7em 0.8em;
	-fx-text-fill: #ffffff;
}

.combo-box-selected-value-container {
	-fx-border-color: #ff0000;
}

.combo-box-popup .list-view .jfx-list-cell {
	-fx-text-fill: #283593; 
}

.combo-box-popup .list-view .jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.combo-box-popup .list-view .jfx-list-cell:even:selected > .jfx-rippler > StackPane { 
	-fx-background-color: #c5cae9;
}

.combo-box-popup .list-view .jfx-list-cell:filled:hover .label{ 
	-fx-text-fill: #283593;
}
.combo-box-popup .list-view .jfx-list-cell .jfx-rippler {
	-fx-rippler-fill: #7986cb;
}
.combo-box .combo-box-button-container{
 	-fx-border-color:#283593;
 	-fx-border-width: 0 0 1 0;
}